.tokenStyle {
    border-style: solid;
    background-color: white;
    border-width: 4px;
    border-color: #11ADFA;
    width: 30px;
    height: 100%;
    border-radius: 23px;
    position: absolute;
    left: 0px;
}

.tokenNumBc {
    height: 30px;
    background-color: #045EC6;
    border-radius: 23px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.tokenNumBc button {
    background-color: transparent !important;
    border-color: transparent !important;
    font-size: 12px;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0) !important;
}

.winTokenRowStyle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    background-color: white;
    color: black;
    width: 210px;
    font-size: 12px;
    border-radius: 5px;
    height: 30px;
    display: flex;
    align-items: center;
    z-index: 10;
}